<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DocRoot" value="D:\EBook\als\DocRoot\" />
		<add key="ConnectionString" value="Driver={Microsoft Access Driver (*.mdb)};Dbq=D:\EBook\database\AddingCustNoToEbook.mdb;Uid=Admin;Pwd=;" />
		<add key="CDRoot" value="D:\EBook\als_eBook\CDRoot\" />
	</appSettings>
</configuration>